<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Kasir</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/script.js" defer></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo">Kelompok Lepi</div>
      <ul>
        <li>
          <a href="/"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
          <a href="/kasir"><i class="fas fa-cash-register"></i> Kasir</a>
        </li>
        <li>
          <a href="/pembelian"><i class="fas fa-shopping-cart"></i> Pembelian</a>
        </li>
        <li>
          <a href="/chart"><i class="fas fa-shopping-cart"></i> Chart</a>
        </li>
      </ul>
    </div>
    <div class="main-content">
      <div class="main-content">
        <div>
          <h1>Welcome to Web Kelompok Lepi</h1>
          <table>

            
          </table>
          <div class="team-list">        
            <div class="team-member">
              <i class="fas fa-user-circle"></i>
              <span>Yacobus Daeli - H1D022024</span>
            </div>
            <div class="team-member">
              <i class="fas fa-user-circle"></i>
              <span>Destian Ardan Alfatanu - H1D022045</span>
            </div>
            <div class="team-member">
              <i class="fas fa-user-circle"></i>
              <span>Achmad Aulia Difiputra - H1D022063</span>
            </div>
            <div class="team-member">
              <i class="fas fa-user-circle"></i>
              <span>Hamas Izzudin Fathi - H1D022097</span>
            </div>
            <div class="team-member">
              <i class="fas fa-user-circle"></i>
              <span>Muhammad Levi Asshidiqi - H1D022103</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
