<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelompok Lepi Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <div class="logo">Kelompok Lepi</div>
        <ul>
            <li><a href="/" class="active"><i class="fas fa-home"></i> Dashboard</a></li>
            <li><a href="/kasir"><i class="fas fa-cash-register"></i> Kasir</a></li>

            <!-- <li><a href="/photo-salons"><i class="fas fa-camera-retro"></i> Photo Salons</a></li>
            <li><a href="/users"><i class="fas fa-users"></i> Users</a></li>
            <li><a href="/requests"><i class="fas fa-envelope"></i> Requests</a></li>
            <li><a href="/billing"><i class="fas fa-credit-card"></i> Billing</a></li> -->
        </ul>
        <div class="sidebar-footer">
        </div>
    </div>
    <div class="main-content">
        <div class="main-content">
            <div>
                <h1>Welcome to Web Kelompok Lepi</h1>
                <div class="team-list">
                    <div class="team-member">
                        <i class="fas fa-user-circle"></i>
                        <span>Muhammad Levi Asshidiqi - H1D022103</span>
                    </div>
                    <div class="team-member">
                        <i class="fas fa-user-circle"></i>
                        <span>Fatan</span>
                    </div>
                    <div class="team-member">
                        <i class="fas fa-user-circle"></i>
                        <span>Hamas</span>
                    </div>
                    <div class="team-member">
                        <i class="fas fa-user-circle"></i>
                        <span>Kobus</span>
                    </div>
                    <div class="team-member">
                        <i class="fas fa-user-circle"></i>
                        <span>Achmad</span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>
